div{

    width: 40%;
    
    height: 50%;
    
    background-color: greenyellow;
    
    }
    img{

        border: dotted;
        
        width: 200px;
        
        height: 200px;
        
        }
        
        p{
        
        
        font-size: 60px;       
        }
       