
    header{
        font-size: large;
        text-align: center;
    }
    h1{
        color: red;
    }
    div img{
        height: 0px;
        width: 0px;
    }
    div{
        font-size: 0px;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  
     }
